body{
    font-family: 'Sarabun', sans-serif;
}

.navbar{
    font-family: 'Sarabun', sans-serif;
}

.section{
    padding-top: 30px;
    padding-bottom: 50px;
}

.main-handing{
    color: green;
    font-size: 25px;
    text-align: center;
}


.underline{
    height: 4px;
    width: 10rem;
    background-color: lightgreen;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bg-c-light{
    background-color: #f2f2f2;
}

h3{
    text-align: center;
}

h5{
    text-align: center;
}

.footer a{
    color: #f2f2f2;
    text-decoration: none;
}

.footer a:hover{
    color: lightgreen;
    text-decoration: underline;
}